[submodule "3rdparty/glfw"]
	path = 3rdparty/glfw
	url = https://github.com/glfw/glfw
[submodule "3rdparty/glm"]
	path = 3rdparty/glm
	url = https://github.com/g-truc/glm
[submodule "3rdparty/DownloadProject"]
	path = 3rdparty/DownloadProject
	url = https://github.com/Crascit/DownloadProject
[submodule "3rdparty/openal"]
	path = 3rdparty/openal
	url = https://github.com/kcat/openal-soft
